/* Basic CSS Setup */

/* General formatting */
body {
    margin: 0;
    background-color: white;
    font-family: "Radio Canada", sans-serif;
}

/* Background box formatting */
.AboutUsBox {
    background-color: #D9E8FF;
    width: 90vw;
    height: 90vh;
    border-radius: 20px;
    margin: 5vh auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.startContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


.AboutUsTitle {
    font-size: 130px;
    margin: 0;
}

/* Text formatting */
.AboutUsText {
    text-align: center;
    font-size: 20px;
    max-width: 850px;
    margin: 0 auto 20px auto;
    line-height: 1.5;
}