:root {
    --cell-color-red: #ff292974;
    --cell-color-green: #57ff2974;
    --cell-color-blue: #2d29ff74;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BlueBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 95vh;
    background-color: #D9E8FF;
    border-radius: 10px;
}

/* Main layout */

#main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sudoku-board-and-notation-id {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#boardProficiencyScore {
    position: absolute;
/*    top: 2px;*/
    right: 5px;
    font-size: 26px;
    font-weight: 500;
    color: #4168A9;
}

#left-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Pause / Play button */
#pause-b-id {
    all: unset;

    width: 28px;
    height: 28px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 26px;
    line-height: 1;

    color: #4168A9;
    cursor: pointer;

    font-family: system-ui, sans-serif;
}

#pause-b-id:hover {
    opacity: 0.7;
}

/* Timer */
#timer-id {
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #4168A9;

    display: flex;
    align-items: center;
}

/* Top right icons */

#top-right-icons {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    flex-direction: column;
}

.Icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 44px;
    cursor: pointer;
}

/* The sudoku board */

#sudoku-board-container-id {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 550px;
    height: 550px;
    background-color: #4168A9;
    border: 5px solid #4168A9;
}

.SudokuBlockClass {
    display: grid;
    grid-template-rows: repeat(3, 1fr); /* same as 1fr 1fr 1fr. fr = fraction of available space. E.g. 3fr / 300px = 100px each */
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    margin: 2px;
    background-color: #D9E8FF;
}

.SudokuCell {
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 0px;
    margin: 0px;
    display: block;
    text-align: center;
    background-color: white;
    position: relative;
    z-index: 2; 
}

/* Notation buttons */

#notation-boxes {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 10px;
}

#notation-boxes button:not(#forfeit-btn) {
    width: 55px;
    height: 55px;
    background-color: #B0CEFF;
    border: 2px solid #4168A9;
    border-radius: 6px;
}

#notation-boxes button:not(#forfeit-btn).activeNotation {
    background-color: #6980a988;
}

.NotationBoxNotation,
.NotationBoxCornerNotation,
.NotationBoxCenterNotation,
.NotationBoxColorCell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.NotationBoxNotation {
    font-size: xx-large;
}

.NotationBoxCornerNotation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 4px;
}

.TopText {
    display: flex;
    gap: 4px;
    justify-content: flex-start;
}

.BottomText {
    align-self: flex-end;
}

#color-cell-icon-red-id {
    width: 35px;
    height: 35px;
    background-color: var(--cell-color-red);
}

#color-cell-icon-green-id {
    width: 35px;
    height: 35px;
    background-color: var(--cell-color-green);
}

#color-cell-icon-blue-id {
    width: 35px;
    height: 35px;
    background-color: var(--cell-color-blue);
}

#color-corner-icon-id,
#color-center-icon-id {
    width: 25px;
    height: 15px;
    background-color: #4168A9;
}

#forfeit-btn {
    height: 55px;
    margin-left: 101px;
    padding: 0 14px;
    border: none;
    border-radius: 4px;
    background-color: #ff6b6b;
    font-size: 18px;
    cursor: pointer;
}

#forfeit-btn:hover{
    background-color: #cf4949;
}

/* General popup */

.Hidden {
    display: none;
}

#settings-pop-up,
#strategy-pop-up {
    position: absolute;
    right: 20px;
    width: 300px;
    padding: 16px;
    background-color: #f4f4f4;
    border: 4px solid #4168A9;
    z-index: 1000;
    font-family: "Radio Canada", sans-serif;
}

#settings-pop-up {
    top: 72px;
}

#strategy-pop-up {
    top: 145px;
}

#close-settings-btn,
#close-strategy-btn {
    position: absolute;
    top: 6px;
    right: 10px;
    padding: 0;
    border: none;
    background: transparent;
    color: #8d8d8d;
    font-size: 28px;
    line-height: 1;
    cursor: pointer;
}

/* Settings popup */

.SettingsRows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
    gap: 10px;
}

.SettingsRows:first-of-type {
    margin-top: 40px;
}

.SettingsLabel {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 145px;
    min-width: 145px;
    flex-shrink: 0;
    color: #111;
    font-size: 16px;
    font-weight: 500;
}

.SettingsControl {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    width: 105px;
    min-width: 105px;
    flex-shrink: 0;
}

.ToggleSwitch {
    position: relative;
    width: 60px;
    height: 28px;
    padding: 0;
    border: none;
    border-radius: 20px;
    background-color: #d6d6d6;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.ToggleKnob {
    position: absolute;
    top: 2px;
    left: 3px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #ff5b5b;
    transition: all 0.2s ease;
}

/* OFF state for toggle switch */
.ToggleKnob {
    background-color: #ff5b5b;
}

.ToggleSwitch {
    background-color: #f3bcbc;
}

/* ON state for toggle switch */
.ToggleSwitch.active {
    background-color: #cfe8c7; 
}

.ToggleSwitch.active .ToggleKnob {
    left: 33px;
    background-color: #5bbf3a;
}

.HelpCircle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: #d9d9d9;
    font-size: 14px;
    line-height: 1;
    cursor: default;
}

.InfoWrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.InfoPopup {
    position: absolute;
    top: 30%;            
    left: 0px;         
    transform: translateY(-50%);

    width: 240px;
    padding: 10px;
    background-color: #f4f4f4;
    border: 3px solid #4168A9;

    font-size: 13px;
    line-height: 1.3;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease;
    z-index: 20;
}

.InfoWrapper:hover .InfoPopup {
    opacity: 1;
    pointer-events: auto;
}

.TextScaleRow input[type="range"] {
    width: 110px;
    accent-color: #4168A9;
    transform: translateY(-2px);
}

/* STrategy popup */

.StrategyTitle {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #4168A9;
    font-size: 24px;
}

.StrategySubtitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 17.5px;
    font-weight: bold;
}

.StrategyList p {
    text-align: center;
    margin: 16px 0;
    font-size: 17.5px;
}

.StrategyLink {
    display: inline-block;
    margin-top: 25px;
    color: #4168A9;
    font-size: 20px;
    text-decoration: underline;
}

/* forfeit popup */

#forfeit-pop-up {
    position: absolute;
    top: 48.8%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
}

.ForfeitBox {
    width: 450px;
    background-color: #f4f4f4;
    border: 4px solid #4168A9;
    padding: 20px;
}

.ForfeitTitle {
    margin: 0 0 10px 0;
    color: #e76f00;
    font-size: 20px;
}

.ForfeitText {
    margin: 0 0 20px 0;
    font-size: 16px;
    line-height: 1.4;
}

.ForfeitButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#confirm-forfeit-btn {
    background-color: #ff6b6b;
    border: none;
    padding: 10px 18px;
    font-size: 16px;
    cursor: pointer;
}

#confirm-forfeit-btn:hover{
    background-color: #cf4949;
}

#cancel-forfeit-btn {
    background-color: #86d65c;
    border: none;
    padding: 10px 18px;
    font-size: 16px;
    cursor: pointer;
}

#cancel-forfeit-btn:hover {
    background-color: #6eb942;
}

/* */
.LockedCell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.NotationCells {
    position: absolute;
    font-family: 'Trebuchet MS', sans-serif;
}

.SudokuCell:hover {
    cursor: pointer;
}

.NotationRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.NotationNumber {
    padding: 0px 2px;
    font-size: 12px;
}

.CellText {
  position: absolute;
  inset: 0;
  z-index: 1;
}

/* Start sudoku box and button */
#sudoku-board-container-id {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 550px;
    height: 550px;
    background-color: #4168A9;
    border: 5px solid #4168A9;
}
#sudoku-start-overlay {
    position: absolute;
    inset: 0;
    z-index: 50;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
}

#start-sudoku-btn {
    padding: 14px 28px;
    border: none;
    border-radius: 8px;
    background-color: #4168A9;
    color: white;
    font-size: 24px;
    font-family: "Radio Canada", sans-serif;
    cursor: pointer;
}

#start-sudoku-btn:hover {
    background-color: #2f4f87;
}
#sudoku-start-overlay.Hidden {
    display: none;
}

/* Win Screen */
#sudoku-board-container-id.BoardWon {
    background-color: white;
    border-color: white;
}

#sudoku-board-container-id.BoardWon,
#sudoku-board-container-id.BoardWon * {
    background-color: white;
    color: white;
    border-color: white;
}

#win-pop-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
}

.WinBox {
    width: 420px;
    background-color: #f4f4f4;
    border: 4px solid #4168A9;
    padding: 24px;
    text-align: center;
}

.WinTitle {
    margin: 0 0 12px 0;
    color: #4168A9;
    font-size: 24px;
}

#win-text-time {
    margin: 0 0 22px 0;
    font-size: 17px;
}

#win-text-errors {
    margin: 0 0 22px 0;
    font-size: 17px;
}

#win-text-score {
    margin: 0 0 22px 0;
    font-size: 17px;
}

#next-sudoku-btn {
    background-color: #86d65c;
    border: none;
    padding: 12px 22px;
    font-size: 17px;
    cursor: pointer;
}

#next-sudoku-btn:hover {
    background-color: #6eb942;
}

/* notation */

.LockedCell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.NotationCells {
    position: absolute;
    font-family: 'Trebuchet MS', sans-serif;
}

.SudokuCell:hover {
    cursor: pointer;
}

.NotationRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.NotationNumber {
    padding: 0px 2px;
    font-size: 12px;
}

.SudokuColourCell {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.CellText {
    position: absolute;
    inset: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.candidateBlock {
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.TopCornerNotation, .BottomCornerNotation {
    color: #0040ff;
}

.CenterNotation {
    color: rgb(187, 0, 255);
}