/* Basic CSS Setup */

/* Layout */
.StrategyPageLayout {
    display: grid;
    grid-template-columns: 28% 72%;
    grid-template-rows: auto 1fr;
    gap: 20px;
    height: 100vh;
    padding: 20px;
}

/* Title color */
.StrategyTitles {
    color: #000000;
}

/* Link and bullet colors - Side panel*/
#strategy-list-id li::marker {
    color: #07357F;
}

#strategy-list-id a,
a:visited,
a:active {
    color: #07357F;
}

#strategy-list-id a:hover {
    color: #03193d;
}

/* Bullet (number) colors and spacing - Main panel*/
#main-strategy-list-id li::marker {
    font-size: 22px;
    font-weight: bold;
}

#main-strategy-list-id li {
    margin-bottom: 20px;
}

/* Scrollbar styling - General and content*/
.StrategyScrollBarSide,
.StrategyScrollBarMain {
    height: 100%;
    overflow: auto;
}

.StrategyScrollBarSide {
    grid-column: 1;
    grid-row: 1/-1;
    background-color: #B0CEFF;
    /* (top and bottom) (left and right) */
    padding: 20px 45px;
    font-size: 25px;
    line-height: 55px;
    overflow: auto;
}

.StrategyScrollBarMain {
    grid-column: 2;
    grid-row: 1/-1;
    background-color: #D9E8FF;
    /* top right bottom left */
    padding: 20px 30px 20px 50px;
    margin-right: 20px;
    overflow: auto;
}

/* Scrollbar styling - Track*/
.StrategyScrollBarSide::-webkit-scrollbar,
.StrategyScrollBarMain::-webkit-scrollbar {
    width: 10px;
}

.StrategyScrollBarSide::-webkit-scrollbar-track,
.StrategyScrollBarSide::-webkit-scrollbar-track {
    background: #D9D9D9;
    border-radius: 8px;
}

/* Scrollbar styling - Thumb*/
.StrategyScrollBarSide::-webkit-scrollbar-thumb,
.StrategyScrollBarMain::-webkit-scrollbar-thumb {
    background: #6e6e6e;
    border-radius: 8px;
}

.StrategyScrollBarSide::-webkit-scrollbar-thumb:hover,
.StrategyScrollBarMain::-webkit-scrollbar-thumb:hover {
    background: #4c4c4c;
}

/* Illustration size */
.StrategyIllustrations img {
    width: 400px;
}

/* Tooltip */
.Tooltip {
    position: relative;
    grid-column: 1;
    grid-row: 1;
    justify-self: end;
    align-self: start;
    margin-top: 15px;
    margin-right: 20px;
    z-index: 10;
}

/* Tooltip - Button */
.TooltipButton {
    width: 30px;
    height: 30px;
    font-family: "Radio Canada", sans-serif;
    font-size: 20px;
    border-radius: 50%;
    border: none;
    background-color: #D9D9D9;
    cursor: pointer;
    z-index: 11;
}

.TooltipButton:hover {
    background-color: #b6b6b6;
}

/* Tooltip - Popup */
.TooltipText {
    position: absolute;
    top: 45px;
    width: 350px;
    background-color: #FFFFFF;
    border: 4px solid #4168A9;
    border-radius: 4px;
    /* (top and bottom) (left and right) */
    padding: 5px 10px;
    visibility: hidden;
}

.Tooltip:hover .TooltipText {
    visibility: visible;
}
