/* Basic CSS Setup */

/* Layout */
.StrategyPageLayout {
    display: grid;
    grid-template-columns: 28% 72%;
    grid-template-rows: auto 1fr;
    gap: 20px;
    height: 100vh;
    padding: 20px;
}

/* Title color */
.StrategyTitles {
    color: #000000;
}

/* Link and bullet colors - Side panel*/
#strategy-list-id li::marker {
    color: #07357F;
}

#strategy-list-id a,
a:visited,
a:active {
    color: #07357F;
}

#strategy-list-id li a:hover {
    color: #020e24;
}

#strategy-list-id li a.inactive {
    color: #788eb1;
}

#strategy-list-id li a.inactive:hover {
    color: #3a4556;
}

/* Bullet (number) colors and spacing - Main panel*/
#main-strategy-list-id li::marker {
    font-size: 22px;
    font-weight: bold;
}

#main-strategy-list-id li {
    margin-bottom: 20px;
}

/* Scrollbar styling - General and content*/
.StrategyScrollBarSide,
.StrategyScrollBarMain {
    height: 100%;
    overflow: auto;
    border-radius: 8px;
}

.StrategyScrollBarSide {
    grid-column: 1;
    grid-row: 1/-1;
    background-color: #B0CEFF;
    /* (top and bottom) (left and right) */
    padding: 20px 25px;
    font-size: 25px;
    line-height: 55px;
    overflow: auto;
}

.StrategyScrollBarMain {
    grid-column: 2;
    grid-row: 1/-1;
    background-color: #D9E8FF;
    /* top right bottom left */
    padding: 20px 30px 20px 50px;
    margin-right: 20px;
    overflow: auto;
}

/* Scrollbar styling - Track*/
.StrategyScrollBarSide::-webkit-scrollbar,
.StrategyScrollBarMain::-webkit-scrollbar {
    width: 10px;
}

.StrategyScrollBarSide::-webkit-scrollbar-track,
.StrategyScrollBarMain::-webkit-scrollbar-track {
    background: #D9D9D9;
    border-radius: 8px;
}

/* Scrollbar styling - Thumb*/
.StrategyScrollBarSide::-webkit-scrollbar-thumb,
.StrategyScrollBarMain::-webkit-scrollbar-thumb {
    background: #6e6e6e;
    border-radius: 8px;
}

.StrategyScrollBarSide::-webkit-scrollbar-thumb:hover,
.StrategyScrollBarMain::-webkit-scrollbar-thumb:hover {
    background: #4c4c4c;
}

/* Illustration size and cursor */
.StrategyIllustrations img {
    width: 400px;
    cursor: zoom-in;
}

/* Illustration caption size */
.StrategyIllustrationCaptions {
    font-size: small;
}

/* Image overlay */
.image-overlay-id {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.image-overlay-id.hidden {
    display: none;
}

.image-overlay-id img {
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0, 0, 40px rgba(255, 5, 5, 0.8);
}

/* Image overlay close button */
.OverlayCloseButton {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 80px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1;
}

.OverlayCloseButton:hover {
    columns: #cccccc;
}

/* Tooltip */
.Tooltip {
    position: relative;
    grid-column: 1;
    grid-row: 1;
    justify-self: end;
    align-self: start;
    margin-top: 15px;
    margin-right: 20px;
    z-index: 10;
}

/* Tooltip - Button */
.TooltipButton {
    width: 30px;
    height: 30px;
    font-family: "Radio Canada", sans-serif;
    font-size: 20px;
    border-radius: 50%;
    border: none;
    background-color: #D9D9D9;
    cursor: pointer;
    z-index: 11;
}

.TooltipButton:hover {
    background-color: #b6b6b6;
}

/* Tooltip - Popup */
.TooltipText {
    position: absolute;
    top: 45px;
    width: 350px;
    background-color: #FFFFFF;
    border: 4px solid #4168A9;
    border-radius: 8px;
    /* (top and bottom) (left and right) */
    padding: 5px 10px;
    visibility: hidden;
}

.Tooltip:hover .TooltipText {
    visibility: visible;
}
