
/* General button placement and design */
.StartPageButtons {
    display: inline-block;
    padding: 10px 0;
    background-color: #B0CEFF;
    border-radius: 8px;
    color: #07357F;
    border: none;
    cursor: pointer;
    text-align: center;
    line-height: 1.2;
}

/* Button design on hover */
.StartPageButtons:hover {
    background-color: #91abd4;
}

/* Start game button design */
#start-game-btn-id {
    width: 306px;
    font-size: 40px;
}

/* Strategies button design */
#strategies-btn-id {
    width: 150px;
    font-size: 25px;
}

/* About us button design */
#about-us-btn-id {
    width: 150px;
    font-size: 25px;
}

/* Layout */
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.StartContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/* Top row button layout */
.TopRowButton {
    display: flex;
    justify-content: center;
}

/* Bottom row button layout */
.BottomRowButton {
    display: flex;
    justify-content: center;
    gap: 6px;
}

/* Game title design */
#game-title-id {
    font-size: 130px;
    text-shadow: -3px -3px 0 #FFA639, 3px -3px 0 #FFA639, -3px 3px 0 #FFA639, 3px 3px 0 #FFA639;
    margin: 0;
    text-align: center;
}

/* Blue background box design */
.BlueBox {
    background-color: #D9E8FF;
    width: 90vw;
    height: 90vh;
    border-radius: 10px;
    margin: 5vh auto;

    display: flex;
    justify-content: center;
    align-items: center;
}